<div class="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <img class="img-circle" draggable="false" src="{{'ray-luzier-korn-drum-heads.jpg' | asset_url}}" alt="Ray Luzier" width="200" height="200">
            </div>
            <div class="col-md-6">
                <p>“This is one of the ultimate souvenirs that you could own by your favorite band. It looks so bad ass hangin’ in my studio, <strong>like a kick drum’s literally busting out of the wall!!</strong> My friends all trip out when they come over &amp; rant over it. Sticks, picks &amp; photos are cool..but get yourself a Select A Head, truly a unique display &amp; support of your fav band!!”</p>
                <p><strong>– Ray Luzier, KoRn, KXM</strong></p>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <img class="img-circle" draggable="false" src="{{'eddie_trunk.jpg' | asset_url }}" alt="Eddie Trunk" width="200" height="200">
            </div>

            <div class="col-md-6">
                <p>“The Select a Head I have which was done with some of my logos is a truly cool collectible. I’m always asked by fellow rock fans where they can get such a <strong>great item for their favorite artists</strong>. Really very unique and striking way to fly the flag and represent the bands you love.”</p>
                <p>
                    <strong>– Eddie Trunk, That Metal Show</strong><br>
                    <a title="Reviews" href="https://selectahead.com/pages/reviews/">&gt; READ MORE TESTIMONIALS</a>
                </p>
            </div>
        </div>
    </div>
</div>
