<div class="callout">
    <div class="container">
        <h1 style="text-align: center; color: #e72327 !important; font-size: 28px !important; text-transform: uppercase;"><strong> FOR PROUD FANS OF SPORTS TEAMS, SCHOOLS AND BANDS!</strong></h1>
        <hr style="border-top: solid black"/>
        <h2 style="text-align: center; color: #e72327 !important; font-size: 22px !important; text-transform: uppercase;">CUSTOMIZED DRUM DISPLAYS WITH YOUR FAVORITE LOGOS</h2>
        <br/>
        <h5 style="text-align: center; margin-top: -15px; color: #000 !important; text-transform: uppercase;">
            (22 INCH DIAMETER; 5 INCHES DEEP)<br>
            If you don’t see the band or college that you are looking for, we are constantly adding &amp; negotiating with them to sign up. Be sure to visit and like our <a href="https://www.facebook.com/selectahead" target="_blank">Facebook page</a> for notifications and updates! <a href="https://www.facebook.com/selectahead" target="_blank">Click here</a>
        </h5>
    </div>
</div>