<div class="testimonials">
    <div class="container">
        <div class="row" style="vertical-align: middle;">
            <div class="col-md-4">
                <div class=" box-round box-huge">
                    <div class="box-dummy"></div>
                    <div class="box-inner">
                        <img class="attachment-square-image-small wp-post-image" draggable="false" src="https://selectahead.com/wp-content/uploads/2014/04/ray-luzier-korn-drum-heads.jpg" alt="man-1-800x800" width="300" height="300">
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <p>“This is one of the ultimate souvenirs that you could own by your favorite band. It looks so bad ass hangin’ in my studio, <strong>like a kick drum’s literally busting out of the wall!!</strong> My friends all trip out when they come over &amp; rant over it. Sticks, picks &amp; photos are cool..but get yourself a Select A Head, truly a unique display &amp; support of your fav band!!”</p>
                <p><strong>– Ray Luzier, KoRn, KXM</strong></p>
            </div>
        </div>
        <div class="row" style="vertical-align: middle;">
            <div class="col-md-4">
                <div class="box-round box-huge">
                    <div class="box-dummy"></div>
                    <div class="box-inner"><img class="attachment-square-image-small wp-post-image" draggable="false" src="https://selectahead.com/wp-content/uploads/2014/04/IMG_20140401_0223161.jpg" alt="man-1-800x800" width="300" height="300"></div>
                </div>
            </div>
            <div class="col-md-8">
                <p>“The Select a Head I have which was done with some of my logos is a truly cool collectible. I’m always asked by fellow rock fans where they can get such a <strong>great item for their favorite artists</strong>. Really very unique and striking way to fly the flag and represent the bands you love.”</p>
                <p>
                    <strong>– Eddie Trunk, That Metal Show</strong><br>
                    <a title="Reviews" href="https://selectahead.com/pages/reviews/">&gt; READ MORE TESTIMONIALS</a>
                </p>
            </div>
        </div>
    </div>
</div>
