<section id="bookshop">
  <div class="headline1 purple">Book Shop</div>
  <img src="{{ 'Babywise-book-lrg.jpg' | asset_url }}" alt="Babywise book" />
  <div class="subheadline">Get your copy of the #1 Bestseller on Infant Sleep - Revised and Updated!</div>
  <img src="{{ 'on-becoming-series.png' | asset_url }}" alt="On Becoming book series" />
  <div class="subheadline">Check out the whole series of "On Becoming" books full of proven materials and advice through the years.</div>
</section>