<section id="bookpromo">
  <div class="row">
    <div class="column half bookimage">
      <img src="{{ '550x330babywisebooks-photo.jpg' | asset_url }}" />
      <div class="arrow-left"></div>
    </div>
    <div class="column half bookinfo">
      <h3>Revised and Updated</h3>
      <h5>On Becoming Babywise</h5>
      <p>The #1 Bestselling Book for infant sleep</p>
      <button>Shop the Entire Series</button>
      <h6>Babywise Books</h6>
    </div>
  </div>
</section>