<section id="mommybuzz">
  <h2>Mommy Buzz</h2>
  <div class="row indented">
    <div class="column half">
	  <div class="thumbnail left"></div>
  	  <h5>Best seat ever!</h5>
    </div>
    <div class="column half">
	  <div class="thumbnail right"></div>
  	  <h5>Lorem ipsum</h5>
    </div>
  </div>
  <div class="row bookpromo">
    <div class="column half bookimage">
      <img src="{{ '550x330babywisebooks-photo.jpg' | asset_url }}" />
      <div class="arrow-left"></div>
    </div>
    <div class="column half bookinfo">
      <h3>Revised and Updated</h3>
      <h5>On Becoming Babywise</h5>
      <p>The #1 Bestselling Book for infant sleep</p>
      <button>Shop the Entire Series</button>
      {% include 'body/socialshare' %} 
    </div>
  </div>
</section>