<section id="mommybuzz">
  <h2>Mommy Buzz</h2>
  <div class="row indented">
    <div class="column half">
	    <div class="thumbnail left"></div>
      <div class="content contentleft">
        <div class="borderedcontent">
  	      <h5>Best seat ever!</h5>
          <p>I'm excited to not have to get another booster seat since this car seat grows with my child.</p>
        </div>
        <p class="textlink">Read Reviews</p>
      </div>
    </div>
    <div class="column half">
	    <div class="thumbnail right"></div>
      <div class="content contentright">
        <p class="headline3">"Lorem ipsum dolor sit amet, consectetur adipsicing elit?"</p>
  	    <p class="textlink">Learn How</p>
      </div>
    </div>
  </div>
  <div class="row bookpromo">
    <div class="column half bookimage">
      <img src="{{ '550x330babywisebooks-photo.jpg' | asset_url }}" />
      <div class="arrow-left"></div>
    </div>
    <div class="column half bookinfo">
      <h3>Revised and Updated</h3>
      <h5>On Becoming Babywise</h5>
      <p>The #1 Bestselling Book for infant sleep</p>
      <button>Shop the Entire Series</button>
      {% include 'body/socialshare' %} 
    </div>
  </div>
</section>