<div class="navarea">
  {% include 'header/navarea-hamburger' %}
  {% include 'header/navarea-social' %}
  <a href="{{ shop.url }}"><div class="logo"></div></a>
  {% include 'header/navarea-signin' %}
  {% include 'header/navarea-search' %}
  <div class="primarynav">
  {% include 'header/navarea-nav', menu_linklist: 'main-menu' %}
  </div>
</div>