<div class="navarea">
  {% include 'header/navarea-hamburger' %}
  {% include 'header/navarea-social' %}
  <a href="{{ shop.url }}"><div class="logo"></div></a>
  {% include 'header/navarea-signin' %}
  {% include 'header/navarea-search' %}
  {% include 'header/navarea-nav' %}
</div>