<div class="content-container">
  <div class="sidebar right">
    {% include 'sidebar/emailsignup-vertical' %}
    {% include 'sidebar/bookshop' %}
  </div>
{% include 'blog/h1' %}
{% include 'blog/articles' %}
</div>